---
layout: default
---

<div id="index-wrapper">
    <div class="profile-pic">
      <img src="images/me.jpeg">
      {% include social_links.html %}
    </div>
    <section>
        <h2>Biography</h2>
        <span>
          I work with <a href="https://www.uber.com/in/en/about/">Uber</a> as a Senior Software Engineer in the Maps ETA Predictions team. I build ML models and supporting systems to provide ETA estimates for Uber's various usecases.  
          Previously, I worked in the Maps Error Detection team to identify anomalies in Maps using ML models.  

          I completed my Masters of Science in Computer Science at <a href="https://www.gatech.edu">Georgia Institute of Technology, Atlanta</a> with a focus in Machine Learning in Natural Language and Computer Vision.
          I spent my summer of 2018, interning at <a href ="https://www.uber.com">Uber Maps</a>.  

          Before Tech, I worked at <a href="https://www.bluejeans.com">BlueJeans Networks</a> as a Senior Software Developer. 
        </span>
        <br><br>
        <span>
          I completed my Bachelors(Hons.) of Engineering in Computer Science and Masters(Hons.) of Science in Mathematics from <a href="https://www.bits-pilani.org">Birla Institute of Technology & Science, Pilani</a>
        </span>
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
        {% if site.show_affiliations %}
          {% include affiliations.html %}
        {% endif %}
    </section>
</div>
<div class="clearfix"></div>
{% if site.show_highlighted_projects %}
  {% include highlighted_projects.html %}
{% endif %}
