---
layout: default
---

<div id="index-wrapper">
    <div class="profile-pic">
      <img src="images/me.jpeg">
      {% include social_links.html %}
    </div>
    <section>
        <h2>Biography</h2>
        <span>
          I am pursuing my Masters of Science in Computer Science at <a href="https://www.gatech.edu">Georgia Institute of Technology, Atlanta</a> with a focus in Machine Learning in Natural Language and Computer Vision.         
          Before joining Tech, I worked at <a href="https://www.bluejeans.com">BlueJeans Networks</a> as a Senior Software Developer. I spent my summer of 2018, interning in the Maps Division at <a href ="https://www.uber.com">Uber</a>.
        </span>
        <br><br>
        <span>
          I completed my Bachelors(Hons.) of Engineering in Computer Science and Masters(Hons.) of Science in Mathematics from <a href="https://www.bits-pilani.org">Birla Institute of Technology & Science, Pilani</a>
        </span>
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
        {% if site.show_affiliations %}
          {% include affiliations.html %}
        {% endif %}
        
    </section>
</div>
<div class="clearfix"></div>

{% if site.show_highlighted_projects %}
  {% include highlighted_projects.html %}
{% endif %}
