<div class="affiliations">
    <figure class="affiliation">
        <a href="https://www.bits-pilani.org">
            <img src="/images/index/bits.png" />
            <figcaption>BITS Pilani</figcaption>
        </a>
    </figure>
    <figure class="affiliation">
        <a href="https://www.bluejeans.com">
            <img src="/images/index/bjn.png" />
            <figcaption>Bluejeans Networks</figcaption>
        </a>
    </figure>
    <figure class="affiliation">
        <a href="https://www.gatech.edu">
            <img src="/images/index/gatech.png" >
            <figcaption >Georgia Tech</figcaption>
        </a>
    </figure>
    <figure class="affiliation">
        <a href="https://www.uber.com">
            <img src="/images/index/uber.png" />
            <figcaption>Uber</figcaption>
        </a>
    </figure>
</div>
