.profile-pic {
    width:25%; 
    float:left;
}

#index-wrapper section {
    float:left; 
    width:72%; 
    padding-left:3%; 
}
#index-wrapper section h1 {
    margin-top:0; 
    // border-bottom: 1px solid #000;
}

.affiliations {
    display:block;
    margin-top: 20px; 
}

.affiliation { 
    margin: 0 10px 0 0; 
    float:left;
    padding: 10px;
}

.affiliation a figcaption {
    display: block; 
    text-align:center;
    text-decoration: none;
}

.affiliation a img {
    display:block;    
    height: 80px;
    margin: 0 auto;
    margin-bottom: 5px;
}
