html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  line-height: 1.2;
}

small, .small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

a {
  padding-bottom: 0.15em;
}

h2 {
  border-bottom: 1px solid #000;
}

.post-title {
  border-bottom: 0; 
}

.table-of-contents ul li a{
  background-image:none;
}

.underline-this {
  border-bottom: 1px solid;
}

