.profile-pic {
    width:25%; 
    float:left;
}

#index-wrapper section {
    float:left; 
    width:72%; 
    padding-left:3%; 
}
#index-wrapper section h1 {
    margin-top:0; 
    border-bottom: 1px solid #000;
}

.affiliations {
    display:block;
    margin-top: 20px; 
}

.affiliation { 
    // border: 1px solid $lighter-gray; 
    margin-right: 10px; 
    float:left;
    padding: 10px;
}

.affiliation a span {
    display: block; 
    text-align:center;
    text-decoration: none;
}

.affiliation a img {
    display:block;    
    max-width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 5px;

}
